# Ignore diary
diary

# Ignore all autosave files
*~

# Ignore some data files
*.csv
*.avi
CompleteData_*
*.mat
queue/data

# Ignore pictures
*.png
*.jpg
*.tif
*.tiff
*.eps
queue/graphics

# Ignore others
*.zip
*.txt
*.log
*.pdf
*.fig
